body {
  min-width: 900px;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(115deg, rgba(0, 245, 255, 0.4), rgba(120, 95, 212, 0.5)),
                    url(https://images5.alphacoders.com/389/389247.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  color: black;
  min-height: 100%;
  height: auto;
}

label {
  display: block;
  margin: .5rem 0;
}

form {
  background: rgba(27, 27, 50, 0.8);
  padding: 2rem 10.625rem;
  border-radius: 1.25rem;
  display: block;
  color: white;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  font-size: 1.6rem;
  text-align: left;
}

input, select, textarea {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: rgba(27, 27, 50, 0.8);
  border-color: white;
  color: white;
}

input[type="radio"], input[type="checkbox"] {
  font-size: .5rem;
}

input[type="submit"] {
  font-size: 2.5rem;
}

.inline {
  display: inline;
  max-width: 30px;
}

.inline-block {
  display: block;
  max-width: 300px;
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
  opacity: .5;
  margin-top: 0; /* Remove margin from the top */
}

p {
  margin: 0; /* Remove default margin from <p> tag */
}
